<p>
<table>
    <tr>
        <td>
            Target project identifier which is sharing versions to show the name beside the &lth1&gt;:<br />
            (If not set, version name to show will searched from current project's veresions)
        </td>
        <td>
            <%= text_field_tag('settings[target_project_identifier]', @settings['target_project_identifier'])%>
        </td>
    </tr>
</table>
</p>
